@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }

        #map {
            width: 100vw; /* Lebar layar penuh */
            height: 100vh; /* Tinggi layar penuh */
            position: absolute; /* Menutupi seluruh layar */
            top: 0;
            left: 0;
            z-index: 0; /* Urutan tumpukan */
            overflow: hidden;
        }

        #sidebar-kiri {
            position: absolute;
            top: 100px;
            left: 20px;
            width: 320px;
            height: 80vh;
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 12px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            z-index: 1;
            transition: transform 0.3s ease;
            overflow-y: auto;
        }

        #sidebar-kanan {
            position: absolute;
            top: 100px;
            right: 20px;
            width: 320px;
            height: 40vh;
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 12px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            z-index: 1;
            transition: transform 0.3s ease;
            overflow-y: auto;
        }

        #sidebar-legenda {
            position: absolute;
            bottom: 125px;
            right: 20px;
            width: 320px;
            height: 30vh;
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 12px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            z-index: 1;
            transition: transform 0.3s ease;
            overflow-y: auto;
        }

        #sidebar-kanan.minimized {
            transform: translateX(340px);
        }

        #sidebar-legenda.minimized {
            transform: translateX(340px);
        }

        #sidebar-kiri.minimized {
            transform: translateX(-340px);
        }

        /* Tombol toggle */
        #toggleBtn-kiri {
            position: absolute;
            top: 400px;
            left: 338px;
            width: 35px;
            height: 50px;
            background-color: white;
            border: 1px solid #ccc;
            border-radius: 20%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
            z-index: 2;
            transition: left 0.3s ease;
        }

        #toggleBtn-kanan {
            position: absolute;
            top: 250px;
            right: 338px;
            width: 35px;
            height: 50px;
            background-color: white;
            border: 1px solid #ccc;
            border-radius: 20%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
            z-index: 2;
            transition: left 0.3s ease;
        }
        
        #toggleBtn-legenda {
            position: absolute;
            bottom: 220px;
            right: 338px;
            width: 35px;
            height: 50px;
            background-color: white;
            border: 1px solid #ccc;
            border-radius: 20%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
            z-index: 2;
            transition: left 0.3s ease;
        }

        #sidebar-kiri.minimized + #toggleBtn-kiri {
            left: 0px;
        }

        #sidebar-kanan.minimized + #toggleBtn-kanan {
            right: 0px;
        }

        #sidebar-legenda.minimized + #toggleBtn-legenda {
            right: 0px;
        }

        #toggleBtn-kiri i {
            font-size: 14px;
        }

        #toggleBtn-kanan i {
            font-size: 14px;
        }

        #toggleBtn-legenda i {
            font-size: 14px;
        }
    </style>
}

<div id="sidebar-kiri">
    <h4 style="color:#888;">Data Pengamatan H3</h4>
    <p style="color:#aaa;">Konten sidebar di sini</p>
</div>

<!-- Tombol toggle -->
<button id="toggleBtn-kiri" title="Minimize">
    <i id="toggleIcon-kiri" class="bi bi-chevron-left"></i>
</button>

<div id="sidebar-kanan">
    <h4 style="color:#888;">List Sensor Offline</h4>
    <p style="color:#aaa;">Konten sidebar di sini</p>
</div>

<button id="toggleBtn-kanan" title="Minimize">
    <i id="toggleIcon-kanan" class="bi bi-chevron-right"></i>
</button>

<div id="sidebar-legenda">
    <h4 style="color:#888;">Legenda</h4>
    <p style="color:#aaa;">Konten sidebar di sini</p>
</div>

<button id="toggleBtn-legenda" title="Minimize">
    <i id="toggleIcon-legenda" class="bi bi-chevron-right"></i>
</button>

<div id="map"></div>

@section Scripts {
    <script src="~/js/pages/Home/Home.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <script>
        const sidebarKiri = document.getElementById('sidebar-kiri');
        const toggleBtnKiri = document.getElementById('toggleBtn-kiri');
        const toggleIconKiri = document.getElementById('toggleIcon-kiri');

        toggleBtnKiri.addEventListener('click', () => {
            sidebarKiri.classList.toggle('minimized');
            toggleIconKiri.className = sidebarKiri.classList.contains('minimized') 
                ? 'bi bi-chevron-right' 
                : 'bi bi-chevron-left';
        });

        const sidebarKanan = document.getElementById('sidebar-kanan');
        const toggleBtnKanan = document.getElementById('toggleBtn-kanan');
        const toggleIconKanan = document.getElementById('toggleIcon-kanan');

        toggleBtnKanan.addEventListener('click', () => {
            sidebarKanan.classList.toggle('minimized');
            toggleIconKanan.className = sidebarKanan.classList.contains('minimized') 
                ? 'bi bi-chevron-left' 
                : 'bi bi-chevron-right';
        });

        //legenda
        const sidebarLegenda = document.getElementById('sidebar-legenda');
        const toggleBtnLegenda = document.getElementById('toggleBtn-legenda');
        const toggleIconLegenda = document.getElementById('toggleIcon-legenda');

        toggleBtnLegenda.addEventListener('click', () => {
            sidebarLegenda.classList.toggle('minimized');
            toggleIconLegenda.className = sidebarLegenda.classList.contains('minimized') 
                ? 'bi bi-chevron-left' 
                : 'bi bi-chevron-right';
        });
    </script>
}